//チーム詳細ページ

.team-contents-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 3vw;
  position: relative;
}

.team-contents-right{
  width: 50%;
  padding: 3vh 5vw 0 0;
  text-align: left;
}


.favorite-icon{
  position: absolute;
  top: 30x;
  left: 30px;
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .favorite-icon{
    font-size: 10px;
  }
}