*{
  box-sizing: border-box;
}

.page-footer{
  width: 100vw;
  padding: 2vh ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f8f8;
}

.logo{
  width: 30vw;
}

.spotch-logo{
  width: 150px;
  transform: scale(1.8);
}