.page-header{
  width: 100vw;
  padding: 2vh ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f8f8;
  position: fixed;
  z-index: 10;
}

.nav-lists{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.nav-list{
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 3vh;
}