//チャット相手一覧
.chat-container{
  padding: 5vh 35vw;
  text-align: center;
  height: 100vh;
}

.chat-wrap{
  background-color: white;
}

.chat-lists{
  display: flex;
  flex-direction: column;
}

.chat-list{
  display: flex;
  border: 1px solid gray;
  margin: 10px;
  height: 85px;
}

.chat-list-left{
  width: 30%;
  border-right: 1px solid #f5f5f5;
}

.chat-list-right{
  width: 70%;
  font-size: 40px;
  text-align: center;
  line-height: 85px;
}

.user-img{
  border: 0px solid #000;
  border-radius: 50px;
}


//チャットページ
.table{
  overflow: scroll;
}

.chats{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-wrapper{
  padding: 5vh 30vw;
  height: 80vh;
  text-align: center;
}

.chat-contents {
  height: 300px;
  padding: 0 25px;
  background-color: rgb(231, 255, 231);
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  font-weight: bold;
}

.chat-user{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-bottom: 10px;
}

.message-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.js-form{
  margin-top: 5vh;
}

.chat-box{
  padding: 20px;
  width: 30vw;
}

.chat-btn {
  width: 50%;
  margin: 0 auto;
}

.chat-red-btn {
  margin-left: 30px;
  padding: 0 20px;
  background: #ea352d;
  border: 1px solid #ea352d;
  border-radius: 3px;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

 /* スマホ表示時 */
@media (max-width: 599px) {

  .chats{
    height: 82vh;
  }

  .chat-wrapper{
    padding: 0 2vw;
  }

  .chat-contents {
    height: 270px;
  }

  .chat-box{
    padding: 15px;
    width: 65vw;
  }

  .chat-red-btn {
    margin-left: 20px;
  }

  .chat-container{
    padding: 5vh 2vw;
  }
}