//寄付ページ

.donation{
  display: flex;
  padding: 10vh 10vw;
}

.donation-container{
  width: 30%;
}

.donation-info{
  width: 70%;
  margin-left: 5vw;
  
}

.donation-contents {
  height: 55vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donation-contents p{
  padding-bottom: 1vh;
}

#donation-price{
  padding: 2vh 2vw;
  margin-top: 20px;
}

.form-donation-text{
  font-size: 20px;
  font-weight: bold;
}

#yell-text{
  width: 80%;
  margin-top: 2vh;
  resize: none;
}