//寄付ページ

.donation{
  display: flex;
  padding: 10vh 10vw;
}

.donation-container{
  width: 30%;
}

.donation-info{
  width: 70%;
  margin-left: 5vw;
}

.donation-title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-top: 12vh;
  color: #000;/*文字色*/
  padding: 0.5em 0;
  border-bottom: 1px solid #f5f5f5;
}

.donation-contents {
  height: 55vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donation-contents p{
  padding-bottom: 1vh;
}

#donation-price{
  padding: 2vh 2vw;
  margin-top: 20px;
}

.form-donation-text{
  font-size: 20px;
  font-weight: bold;
}

#yell-text{
  width: 80%;
  margin-top: 2vh;
  resize: none;
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .donation{
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
  }
  
  .donation-container{
    width: 100%;
  }

  .donation-title {
    font-size: 20px;
  }
  
  .donation-info{
    width: 100%;
    margin-left: -1px;
  }
  
  .donation-contents {
    height: 55vh;
    width: 100%;
  }
  
  #yell-text{
    width: 100%;
    margin-top: 2vh;
    resize: none;
  }
}