//チーム検索ページ

.search{
  display: flex;
  padding: 10vh 10vw;
}

.search-container{
  width: 30%;
}

.search-results{
  height: 50vh;
  width: 70%;
  margin-left: 5vw;
}

.search-choice{
  height: 60vh;
}

.search-contents {
  height: 60vh;
  overflow: scroll;
}

.search-box{
  display: flex;
  justify-content: space-between;
  padding: 2vh 1vw;
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .search{
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
  }
  
  .search-container{
    width: 100%;
  }

  .donation-title {
    font-size: 20px;
  }
  
  .search-results{
    width: 100%;
    height: 600px;
    margin-left: -1px;
  }

  .search-choice {
    height: 57vh;
    width: 100%;
  }
  
  .search-contents {
    height: 60vh;
    width: 100%;
  }
  
  .search-box{
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding: 2vh 1vw;
  }
}