*{
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

.main{
  background: #f8f8f8;

}

/* 画面上部の「あなたのスポーツをマッチする」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('title-contents.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 80px;
}

.service-title {
  font-size: 8vh;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000,3px 3px 0 #000;
  color:white;
  background-color: rgba($color: #f5aa2c, $alpha: 0.8);
  padding: 20px;
  margin-top: 150px;
  margin-bottom: -10px;
}

.service-explain {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow:1px 0 0 #000,0 1px 0 #000,-1px 0 0 #000,0 -1px 0 #000,3px 3px 0 #000;
  font-size: 30px;
}

.service-search{
  display: flex;
}

.service-search a{
  font-size: 6vh;
  color: #fff;
  background-color: #4eb554;
  padding: 30px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 5px 7px #000;
  display: block;
  cursor: pointer;
}

.service-search a:active{
  position: relative;
  top: 7px;
  left: 5px;
  box-shadow: none;
}

.fas{
  margin-right: 5px;
}

// 問題提起

.problem-contents{
  height: 400px;
  position: relative;

  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  text-align: center;
}

.problem-contents:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.problem-contents p {
  margin: 0;
  padding: 0;
}

.problem-title{
  margin: 50px 0;
  display: inline-block;
  color: white;
  background-color: #1d5c8a;
  padding: 10px 50px;
}

.problem-title span{
  font-size: 40px;
}

.problem{
  display: flex;
  justify-content: center;
  align-items: center;
}

.problem-left{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.problem-image{
  width: 20vw;
}

.problem-lists{
  display: flex;
  align-items: center;
}

.problem-list{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  margin-right: 30px;
  width:25%;
  list-style: none;
  text-align: center;
}

.problem-list h3{
  font-size: 20px;
  color: #1d5c8a;
}

// SPOTCHの説明

.explain-contents {
  padding: 5vh 15vw;
}

.explain-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.explain-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.explain-image {
  margin-bottom: 20px;
  width: 100%;
}

.explain-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.explain-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.explain-list-blue-text {
  color: #3ccace;
}

.explain-list-description {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

// 新着チーム一覧

.team-wrapper{
  padding: 5vh 15vw;
}

.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 5vh;
  color: #000;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #3ccace;/*上線*/
  border-bottom: solid 3px #3ccace;/*下線*/
}

.team-contents {
  height: 400px;
  background-color: #f8f8f8;
  overflow: scroll;
}

.team-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.team-list {
  width: 15vw;
  padding: 1vw;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #FFF;
  border: 2px solid #1d5c8a;
  border-radius: 5px;
}

.team-name{
  margin-bottom: 10px;
}

.team-img-content{
  height: 130px;
}

.team-image{
  margin-bottom: 20px;
  width: 100%;
}